@model IEnumerable<Backstage.tActivityLabel>

@{
    ViewBag.Title = "TagList";
}

<h2>新增標籤</h2>

@using (Html.BeginForm())
{
    <input type="text" id="txtKeyword" name="txtKeyword" />

    <input type="submit" />
}





<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fLabelName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fLabelName)
            </td>

        </tr>
    }
    <tr>
        <td>
        </td>
        <td>
            <input type="text" id="txtNewTag" name="txtNewTag" />
        </td>
        <td>
            <input type="button" value="送出" onclick="AddTag()" class="btn-secondary" />
        </td>
    </tr>


</table>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function AddTag() {
        $.post('/Tag/TagAdd',
            { NewTag: $("#txtNewTag").val() }
        )
        
        location.reload();
        window.location.href = "/Tag/TagList"
    }


</script>